.root {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #edf2f4;
    overflow: hidden;
}

.content-wrapper {
    position: relative;
    height: 100%;
    margin: 1rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
